/* Medium screens (Tablets, 768px and below) */
@media (max-width: 768px) {
    .container img {
        width: 120px; 
    }

    .container h1 {
        font-size: 1.5em; 
    }

    .container p {
        font-size: 0.7em; 
    }
    
    .container button {
        padding: 10px 30px; 
        font-size: 0.9em;  
    }

    .features {
        flex-direction: column;
        gap: 15px;
    }

    .box {
        width: 100%;
        max-width: 200px;
    }
}

/* Small screens (Mobile devices, 480px and below) */
@media (max-width: 480px) {
    .container {
        margin-top: 150px;
    }
    .container img {
        width: 100px;
    }

    .container h1 {
        font-size: 1.4em; 
        padding-bottom: 15px;
    }

    .container p {
        font-size: 0.8em; 
    }

    .container button {
        padding: 20px 40px; 
        font-size: 0.85em;
    }
}


